.session-status {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 14px;
    font-weight: bold;
    user-select: none;
}

.status-off .status-text {
    color: #555;
}

.status-on .status-text {
    color: #e63946;
}

@media only screen and (max-width: 992px) {
    .session-status {
        top: 10px;
        left: 10px;
        border-radius: 10px;
        transform: translateX(-50%);
        font-size: 12px;
        padding: 6px 10px;
    }
}

.status {
    position: absolute;
    top: 70px;
    left: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.native {
    color: #4CAF50; /* Green */
    background-color: white;
}

.redaction {
    color: #FFA500; /* Orange */
    background-color: white;
}

.altered {
    color: #e63946; /* Red */
    background-color: white;
}

@media only screen and (max-width: 992px) {
    .status {
        top: 10px;
        left: 10px;
        border-radius: 10px;
        transform: translateX(-50%);
        font-size: 12px;
        padding: 6px 10px;
    }
}